html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
}

#containerForFlexContainer {
    display: flex;
    align-items: stretch;
    height: 100%;
    background-color: black;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

#flexHeader{
    color: #00ae99;
    font-size: 50px;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
}

#containerForErrorPage{
    display: flex;
    align-items: center;
    height: 60%;
    width: 40%;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#errorMesagge{
    color: #00ae99;
    font-size: 50px;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
}

#backToMenuV2{
    align-items: center;
    justify-content: center;
    border: solid white 1px;
    text-align: center;
    margin: 50px;
    padding: 10px;
}

.flexButton{
    font-size: 30px;
    border: 1px solid white;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: 2s; /* Safari prior 6.1 */
    transition: 2s;
}
