<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Dodawanie leku</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div><p id="header">Dodawanie leku do Bazy Danych</p></div>
<div id="outerButtonDiv">
<form method="post">
    <div class="button"><input type="text" placeholder="Nazwa Leku" name="medicineName" size="30"></div>
    <div class="button"><input type="text" placeholder="Ilość" name="quantity" size="30"></div>
    <div class="button"><input type="text" placeholder="Cena" name="price" size="30"></div>
    <div class="button"><input type="text" placeholder="Czy lek jest na recepte?" name="needPrescription" size="30"></div>
    <div class="button"><input type="submit" value="Dodaj Lek"></div>
</form>
</div>
</body>
</html>