<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Dodawanie leku</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div><p id="header">Dodawanie leku do Bazy Danych</p></div>
<div id="outerButtonDiv">
<form method="post">
    <div class="button"><input type="text" placeholder="Nazwa Leku" name="medicineName" size="30"></div>
    <div class="button"><input type="text" placeholder="Ilość" name="quantity" size="30"></div>
    <div class="button"><input type="text" placeholder="Cena" name="price" size="30"></div>
    <div class="button"> Czy lek  jest na recepte?
        <input type="radio" id="tak" name="needPrescription" value="true"
               checked>
        <label for="tak">Tak</label>

        <input type="radio" id="nie" name="needPrescription" value="false"
               checked>
        <label for="nie">Nie</label>
    </div>
    <div class="button"><input type="submit" value="Dodaj Lek"></div>
</form>
</div>
</body>
</html>