<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Medicine</title>

    <link rel="stylesheet" href="forms.css">
    <link rel="stylesheet" href="flex.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function ajax(id) {
            if(id == "") return ;
            var aj = new XMLHttpRequest();
            aj.onreadystatechange = function () {
                if (aj.readyState == 4 && aj.status == 200){
                    $('#xd').html(aj.responseText);
                }
            };

            aj.open("GET", "/html/commitPayment/" + id, true);
            aj.send();
        }
    </script>

</head>

<body>
<div id ="containerForFlexContainer">
    <div id="flexHeader" >Informacje o leku</div>


    <div class="texts">Koszyki użytkowników:</div>
    <br><br>
    <table class = "medicineInfoTable">
        <tr style="border: 1px solid white; text-align: center;">
            <td style="border: 1px solid white">Id Koszyka</td>
            <td style="border: 1px solid white">Suma płatności</td>
            <td style="border: 1px solid white">Czy zapłacono</td>
        </tr>
        <th:block   th:each="cart : ${allCarts}">
                <td th:style="'border: 1px solid white'" th:text="${cart.id}"></td>
                <td th:style="'border: 1px solid white'" th:text="${cart.sumOfPayments}"></td>

                <td id ="xd" th:style="'border: 1px solid white'" th:if="${cart.isPaid} == true" th:text="Tak"></td>
                <td id ="xd" th:style="'border: 1px solid white'" th:unless="${cart.isPaid} == true" th:text="Nie"></td>

                <td th:style="'border: 1px solid white'"><input type="submit" value="Zapłacono" onclick="ajax(cartId.value)" class="button-box"/></td>
                <input type="hidden" name="cartId" id="cartId" th:value="${cart.id}"/>
            </tr>
        </th:block>
    </table>
    <br><br><br><br><br><br>
    <form method="post">
        <div><input type="submit" class="button-box" value="Powrót do menu"></div>
    </form>

</div>
</body>
</html>


