<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Medicine</title>

    <link rel="stylesheet" href="forms.css">
    <link rel="stylesheet" href="flex.css">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function ajax(id) {
            if(id == "") return ;
            var aj = new XMLHttpRequest();
            aj.onreadystatechange = function () {
                if (aj.readyState == 4 && aj.status == 200){
                    $('#xd' + id).html(aj.responseText);
                }
            };

            aj.open("GET", "/html/commitPayment/" + id, true);
            aj.send();
        }

        function showCartInfo(cartId) {
            if(cartId == "") return ;
            var aj = new XMLHttpRequest();
            aj.onreadystatechange = function () {
                if (aj.readyState == 4 && aj.status == 200){
                    $('#cartInfo').html(aj.responseText);
                }
            };

            aj.open("GET", "/html/getCartInfo/" + cartId, true);
            aj.send();
        }
    </script>

</head>

<body>
<div id ="containerForFlexContainer">
    <div id="flexHeader" >Informacje o leku</div>


    <div class="texts">Koszyki użytkowników:</div>
    <br><br>

    <div style = "">
    <table class = "medicineInfoTable">
        <tr style="border: 1px solid white; text-align: center;">
            <td style="border: 1px solid white">Id Koszyka</td>
            <td style="border: 1px solid white">Imię</td>
            <td style="border: 1px solid white">Nazwisko</td>
            <td style="border: 1px solid white">Suma płatności</td>
            <td style="border: 1px solid white">Czy zapłacono</td>
        </tr>
        <th:block   th:each="cart : ${allCarts}">
            <tr th:style="'border: 1px solid white'">
            <td th:style="'border: 1px solid white'" th:text="${cart.id}"></td>
                <td th:style="'border: 1px solid white'" th:text="${cart.user.name}"></td>
                 <td th:style="'border: 1px solid white'" th:text="${cart.user.surname}"></td>
                <td th:style="'border: 1px solid white'" th:text="${cart.sumOfPayments}"></td>
                <td th:id="'xd' + ${cart.id}" th:style="'border: 1px solid white'" th:if="${cart.isPaid} == true" th:text="Tak"></td>
                <td th:id="'xd' + ${cart.id}" th:style="'border: 1px solid white'" th:unless="${cart.isPaid} == true" th:text="Nie"></td>

                <td th:style="'border: 1px solid white'"><input type="submit" value="Pokaż koszyk" th:onclick="'javascript:showCartInfo(' + ${cart.id} + ');'" class="button-box"/></td>
                <td th:style="'border: 1px solid white'"><input type="submit" value="Zapłacono" th:onclick="'javascript:ajax(' + ${cart.id} + ');'" class="button-box"/></td>
            </tr>
        </th:block>
    </table>
    </div>
    <br><br><br><br><br><br>

    <div id="cartInfo"></div>


    <div id="backToMenuV2"><a href="/menu" class="texts" >Powrót do menu</a></div>
</div>
</body>
</html>


