<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Medicine</title>

    <link rel="stylesheet" href="forms.css">
    <link rel="stylesheet" href="flex.css">

</head>

<body>
<div id ="containerForFlexContainer">
        <div id="flexHeader" >Informacje o leku</div>
    <br><br><br><br>

    <br>

         <div class="texts"  th:text="'Nazwa leku:  '+ ${medicineFromList.medicineName}"></div>
        <div class="texts"  th:text="'Producent:  '+ ${medicineFromList.producer}"></div>
        <div class="texts">
            <span th:text="'Czy lek jest na recepte:'"></span>
            <span th:if="${medicineFromList.needPrescription} == true" th:text="Tak"></span>
            <span th:unless="${medicineFromList.needPrescription} == true" th:text="Nie"></span>
        </div>
        <br><br><br><br>
        <div class="texts">Wykaz partii lekarstw:</div>
    <br><br>
        <table class = "medicineInfoTable">
            <tr style="border: 1px solid white; text-align: center;">
                <td style="border: 1px solid white">Id Partii lekarstw</td>
                <td style="border: 1px solid white">Ilość opakowań</td>
                <td style="border: 1px solid white">Cena za opakowanie</td>
                <td style="border: 1px solid white">Data przydatności</td>
            </tr>
            <th:block   th:each="medicineBatch : ${listOfMedicinesToShowInfoAbout}">
                <tr th:style="'border: 1px solid white'">
                    <td th:style="'border: 1px solid white'" th:text="${medicineBatch.id}">dsa</td>
                    <td th:style="'border: 1px solid white'" th:text="${medicineBatch.quantity}"></td>
                    <td th:style="'border: 1px solid white'" th:text="${medicineBatch.price} + 'zł'">...</td>
                    <td th:style="'border: 1px solid white'" th:text="${medicineBatch.expiryDate}">...</td>
                </tr>
            </th:block>
        </table>
    <br><br><br><br><br><br>
        <form method="post">
            <div><input type="submit" class="button-box" value="Powrót do menu"></div>
        </form>

</div>
</body>
</html>


