<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Medicine</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div><p id="header">Informacje o leku:</p></div>
<div id="outputDiv">
    <div th:text="'Nazwa leku:  '+ ${medicineFromUser.medicineName}"></div>
    <div th:text="'Ilość dostępnych opakowań:  '+ *{medicineFromUser.quantity}"></div>
    <div th:text="'Cena :  ' + *{medicineFromUser.price} + 'zł'"></div>
    <div>
            <span th:text="'Czy lek jest na recepte:'"/>
            <span th:if="${medicineFromUser.needPrescription} == true" th:text="Tak"/>
            <span th:unless="${medicineFromUser.needPrescription} == true" th:text="Nie"/>
   </div>


    <form method="post">
        <div class="button"><input type="submit" value="Powrót do menu"></div>
    </form>
</div>
</body>
</html>

