<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="index.css">
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
</head>
<body>

<div id="container">
        <div><p id="header">Witaj w Aptece, co chciałbyś zrobić?</p></div>
        <div id="outerButtonDiv">
            <div id="table">
                <div class="button"><a href="/addMedicineDialog" class="buttontext" >Dodaj lek</a></div>
                <div class="button"><a href="/showInfo" class="buttontext">Informacje o danym leku</a></div>
                <div class="button"><a href="/sellMedicineDialog" class ="buttontext">Sprzedaj lek</a></div>
            </div>
        </div>
        <div id="flange">
                <div id="1"></div>
                <div id="2"></div>
                <div id="3"><img src="3.png" alt="Girl in a jacket"></div>
        </div>

</div>
</body>
</html>