<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Medicine</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div><p id="header">Podaj nazwę leku, o którym chcesz wyświetlić informację</p></div>
<div id="outerButtonDiv">
    <form method="post">
        <div class="button"><input type="text" placeholder="Nazwa Leku" name="medicineName" size="30" th:field="*{medicineKey.medicineName}"></div>
        <div class="button"><input type="submit" value="Pokaż informacje"></div>
    </form>
</div>

</body>
</html>